<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>ZKPassport</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleLocalizations</key>
    <array>
      <string>en</string>
      <string>fr</string>
      <string>pt</string>
    </array>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.3.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>zkpassport</string>
          <string>app.zkpassport.zkpassport</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+zkpassport</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NFCReaderUsageDescription</key>
    <string>NFC is required to read data from passports</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Use your camera to scan the MRZ of your ID and to scan QR codes</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Use FaceID to protect access to your ID data</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>app.zkpassport.zkpassport.scan</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>Metropolis-Medium.otf</string>
      <string>Metropolis-Bold.otf</string>
      <string>Metropolis-SemiBold.otf</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
    <array>
      <string>A0000002471001</string>
      <string>A0000002472001</string>
      <string>A0000002472002</string>
      <string>A0000002472003</string>
      <string>00000000000000</string>
      <string>A0000001510000</string>
      <string>D3921000310001010408</string>
      <string>D3921000310001010100</string>
      <string>00A4040C07A0000002471001</string>
      <string>D3921000310001010401</string>
      <string>D392F000260100000001</string>
      <string>A0000002310100000000000000000000</string>
      <string>A0000002310200000000000000000000</string>
      <string>A0000002480300000000000000000000</string>
      <string>D2760000850101</string>
      <string>A000000151000000</string>
      <string>A000000063504B43532D3135</string>
      <string>D2500000024D465F564954414C45</string>
      <string>D250000002564954414C45</string>
      <string>D2500000044164E86C650101</string>
    </array>
  </dict>
</plist>
